body {
    margin: 0;
    overflow: hidden;
}

.logo-container {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

#logoVideo {
    max-width: 50%;
    left: 50%;
    transform: translate(50%, 0%);
}

#homeScreen {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #FAFAFA;
}

.hidden {
    display: none;
}
