body {
    margin: 0;
    overflow: hidden;
}

/* Logo Animation */
#logoVideo {
    position: absolute;
    max-width: 5%;
    max-height: 75%;
    min-width: 100%;
    top: 12%;
}

/* Home Page */
#homeScreen {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #FAFAFA;
}

.hidden {
    display: none;
}
